<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha Online<!-- /TMPL_IF --> Catalogue &rsaquo; ISBD
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body id="opac-browser">
        <!-- TMPL_IF NAME="OpacNav" --><div id="doc3" class="yui-t1"><!-- TMPL_ELSE --><div id="doc3" class="yui-t7"><!-- /TMPL_IF -->
   <div id="bd">
<!-- TMPL_INCLUDE name="masthead.inc" -->

        <div id="yui-main">
        <div class="yui-b"><div class="yui-g">
<div class="container">

<script language="JavaScript" type="text/javascript">
//<![CDATA[
function checkform ( mainform )
{
  // see http://www.thesitewizard.com/archive/validation.shtml
  // for an explanation of this script and how to use it on your
  // own website

  // ** START **
  if (mainform.title.value.length == 0) {
    alert( "Your Title is a required field. Please try again" );
    mainform.title.focus();
    return false ;
  }
  // ** END **
    // ** START **
    if (mainform.email_address.value.length == 0) {
      alert( "Your Email Address is a required field. Please try again." );
      mainform.email_address.focus();
      return false ;
    }
  // ** END **
    // ** START **
    if (mainform.firstname.value.length == 0 ) {
      alert( "Your First Name is a required field. Please try again." );
      mainform.firstname.focus();
      return false ;
    }
  // ** END **
    // ** START **
    if (mainform.surname.value.length == 0 ) {
      alert( "Your Last Name is a required field. Please try again." );
      mainform.surname.focus();
      return false ;
    }
  // ** END **
    // ** START **
    if (mainform.dob.value.length == 0 ) {
      alert( "The Date of Birth is a required field. Please try again." );
      mainform.dob.focus();
      return false ;
    }
  // ** END **
    // ** START **
    if (mainform.property.value.length == 0 ) {
      alert( "Your Property No /  Name is a required field. Please try again." );
      mainform.property.focus();
      return false ;
    }
  // ** END **
    // ** START **
    if (mainform.address.value.length == 0 ) {
      alert( "Your Address is a required field. Please try again." );
      mainform.address.focus();
      return false ;
    }
  // ** END **
    // ** START **
    if (mainform.postcode.value.length == 0 ) {
      alert( "Your Postcode is a required field. Please try again." );
      mainform.postcode.focus();
      return false ;
    }
  // ** END **
    // ** START **
    if (mainform.mobile.value.length == 0 ) {
      alert( "Your Mobile Number is a required field. Please try again." );
      mainform.mobile.focus();
      return false ;
    }
  // ** END **
  return true ;
}
//]]>
</script>

<p><font face="Calibri">Submitting this form will notify a member of library staff, who will verify your details and add you to the library system as a new borrower.
If you are already a member and have lost your card, please visit a branch to obtain a replacement card (£1 charge)

<form name="mainform" method="post" action="/cgi-bin/koha/newuser.cgi" onsubmit="return checkform(this)">


<p><strong><font face="Calibri">Title (Required)</font></strong></p>
<p><textarea rows="1" cols="70" name="title"></textarea></p>

<p><strong><font face="Calibri">First Name (Required)</font></strong></p>
<p><input value="" size="70" name="firstname" /></p>

<p><strong><font face="Calibri">Surname (Required)</font></strong></p>
<p><textarea rows="1" cols="70" name="surname"></textarea></p>

<p><strong><font face="Calibri">Date of Birth - (dd/mm/yyyy) (Required)</font></strong></p>
<p><textarea rows="1" cols="70" name="dob"></textarea></p>

<p><strong><font face="Calibri">Property No / Name (Required)</font></strong></p>
<p><textarea rows="1" cols="70" name="property"></textarea></p>

<p><strong><font face="Calibri">Address (Required)</font></strong></p>
<p><textarea rows="1" cols="70" name="address"></textarea></p>

<p><strong><font face="Calibri">Address 2</font></strong></p>
<p><textarea rows="1" cols="70" name="address2"></textarea></p>

<p><strong><font face="Calibri">Town</font></strong></p>
<p><textarea rows="1" cols="70" name="town"></textarea></p>

<p><strong><font face="Calibri">County</font></strong></p>
<p><textarea rows="1" cols="70" name="county"></textarea></p>

<p><strong><font face="Calibri">Postcode (Required)</font></strong></p>
<p><textarea rows="1" cols="70" name="postcode"></textarea></p>

<p><strong><font face="Calibri">Phone (home)</font></strong></p>
<p><textarea rows="1" cols="70" name="phone"></textarea></p>

<p><strong><font face="Calibri">Mobile (Required)</font></strong></p>
<p><textarea rows="1" cols="70" name="mobile"></textarea></p>

<p><strong><font face="Calibri">Email</font></strong></p><p><input value="" size="30" name="email_address" /></p>

Choose the library you will visit most. This will be your home branch
<p><strong><font face="Calibri">Library</font></strong></p>
<p><SELECT name="branch"> <OPTION value="" selected></OPTION>
  <option value="Halton Lea">Halton Lea</option>
  <option value="Ditton">Ditton</option>
  <option value="Runcorn">Runcorn</option>
  <OPTION value="Widnes">Widnes</OPTION>
</SELECT></p>

<p><input value="Submit" type="submit" />&nbsp; <input value="Reset" type="reset" /></p><p>

Your new library card and PIN will be posted to the address you gave in the form.
<br /></p></form>


</div></div>
</div>
</div>
<!-- TMPL_IF NAME="OpacNav" -->
<div class="yui-b">
<div class="container">
<!--TMPL_INCLUDE NAME="navigation.inc" -->
</div>
</div><!-- /TMPL_IF -->
</div>
<!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->
