<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha Online<!-- /TMPL_IF -->Catalogue &rsaquo; ISBD
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body id="opac-browser">
<!-- TMPL_IF NAME="OpacNav" -->
<div id="doc3" class="yui-t1">
<!-- TMPL_ELSE -->
<div id="doc3" class="yui-t7">
<!-- /TMPL_IF -->
<div id="bd"> 
  <!-- TMPL_INCLUDE name="masthead.inc" -->
  <div id="yui-main">
    <div class="yui-b">
      <div class="yui-g">
        <div class="container">
            <div id=OR> 
              <div id=ORTitle> 
                <div id=ORPic> <img src="http://www2.halton.gov.uk/images/main/tourismandleisure/libraries/usingcomputer" width="200" height="150" /> </div> 
                <h1>Online Resources</h1> 
                <hr /> 
                <p>Halton Libraries have subscribed to a number of online resources so you don't have to! The following websites will allow you to have full access from within any Halton Library, and some will allow you access from anywhere in the world using just your  Library ID. </p> 
              </div> 
              <div id=ORList>  <a href="http://kohalibrary.halton.gov.uk:2048/login?url=http://cascaid.co.uk" target="_new">Adult Directions</a> 
                <p>The leading website for adult careers information and guidance, our mission is to provide the best possible careers planning and guidance services.</p> 
                <hr /> 
                 <a href="http://kohalibrary.halton.gov.uk:2048/login?url=http://library.eb.co.uk/eb?library_id=halton" target="_new">Britannica</a> 
                <p>The encyclopdia! A curriculum-aligned resource essential for learning more about the every day.</p> 
                <hr /> 
                 <a href="http://kohalibrary.halton.gov.uk:2048/login?url=https://bsol.bsigroup.com/en/BsolHomePage" target="_new">British Standards</a> 
                <p>The complete database of British Standards!</p> 
                <hr /> 
                 <a href="http://kohalibrary.halton.gov.uk:2048/login?url=http://halton.theorytestpro.co.uk/" target="_new">Driving Theory Test</a> 
                <p>Free access to the official DSA Car and Motobike drving theory test. <i>You will need to register and have your library card number to log in form home.</i></p> 
                <hr /> 
                 <a href="http://kohalibrary.halton.gov.uk:2048/login?url=http://www.funderfinder.org.uk/onlinepin/index.php" target="_new">Fundfinder</a> 
                <p>Find out what funding is available and how to receive it.</p> 
                <hr /> 
                 <a href="http://kohalibrary.halton.gov.uk:2048/login?url=http://www.independence.co.uk/issues-online/login" target="_new">Issues Online</a> 
                <p>The UK's first comprehensive reference source with articles addressing contemporary social issues. For example rights and discrimination, drugs, crime and the environment. Very useful for school projects and general interest.</p> 
                <hr /> 
                 <a href="http://kohalibrary.halton.gov.uk:2048/login?url=http://infoweb.newsbank.com" target="_new">Newsbank</a> 
                <p>National and local Newspapers online.</p> 
                <hr /> 
                 <a href="http://kohalibrary.halton.gov.uk:2048/login?url=http://www.oxfordartonline.com/subscriber/;jsessionid=75735E528EDACE2E2DAE54B82E56C69F" target="_new">Oxford Art Online</a> 
                <p>Oxford Art Online is an innovative gateway that offers users the ability to access and search the vast content of Grove Art Online and other Oxford art reference resources in one location. With the 2008 complete redesign of Grove Art Online and the addition of substantial new Oxford reference content, Oxford Art Online offers the most extensive and easily searchable online art resource available today, a virtual art reference library of unparalleled scope and depth.</p> 
                <hr /> 
                 <a href="http://kohalibrary.halton.gov.uk:2048/login?url=http://www.oxfordmusiconline.com/public/" target="_new">Oxford Music Online</a> 
                <p>Grove Music Online has been the leading online resource for music research since its inception in 2001, a glorious compendium of music scholarship offering the full texts of The New Grove Dictionary of Music and Musicians, 2nd edition (2001), The New Grove Dictionary of Opera (1992), and The New Grove Dictionary of Jazz, 2nd edition (2002), as well as numerous subsequent updates and emendations.</p> 
                <hr /> 
                 <a href="http://kohalibrary.halton.gov.uk:2048/login?url=http://www.oxforddnb.com/subscribed" target="_new">Oxford Dictionary of National Biography</a> 
                <p>Explore the lives of over 55,000 people important to the history of Britain.</p> 
                <hr /> 
                 <a href="http://kohalibrary.halton.gov.uk:2048/login?url=http://dictionary.oed.com/entrance.dtl" target="_new">Oxford English Dictionary Online</a> 
                <p>The very last word on the English Language.</p> 
                <hr /> 
                 <a href="http://kohalibrary.halton.gov.uk:2048/login?url=http://www.oxfordreference.com/views/GLOBAL.html?authstatuscode=202" target="_new">Oxford Reference Online</a> 
                <p>Authoritative Information on every subject from Astronomy to Zoology.</p> 
                <hr /> 
                 <a href="http://kohalibrary.halton.gov.uk:2048/login?url=http://infotrac.galegroup.com/itweb/haltlib?db=ttda" target="_new">Times Digital Archive</a> 
                <p>Full text of the Times Newspaper 1785 to 1985, including images.</p> 
                <hr /> 
                </p> 
              </div> 
              <div id=ORFooter> 
              <br> 
              <hr /> 
              <p>If your having problems accessing these resources, please contact your library for assistance.</p> 
              </div> 
            </div>         
        </div>
      </div>
    </div>
  </div>
  <!-- TMPL_IF NAME="OpacNav" -->
  <div class="yui-b">
    <div class="container"> 
      <!--TMPL_INCLUDE NAME="navigation.inc" --> 
    </div>
  </div>
  <!-- /TMPL_IF --> 
</div>
<!-- TMPL_INCLUDE NAME="opac-bottom.inc" --> 
