<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha Housebound - <!-- TMPL_VAR NAME="surname" -->, <!-- TMPL_VAR name="firstname" --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->

</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="patron-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/members/members-home.pl">Patrons</a>  &rsaquo; Housebound details for <!-- TMPL_VAR name="firstname" --> <!-- TMPL_VAR NAME="surname" --> <!-- TMPL_IF NAME="cardnumber" -->(<!-- TMPL_VAR NAME="cardnumber" -->)<!-- </TMPL_IF> --></div>

<div id="doc3" class="yui-t2">
	<div id="bd">
		<div id="yui-main">
			<div class="yui-b"
				<h1>Housebound details for <!-- TMPL_VAR name="title" --> <!-- TMPL_VAR name="firstname" --> <!-- TMPL_VAR name="surname" --> <!-- TMPL_IF NAME="cardnumber" -->(<!-- TMPL_VAR NAME="cardnumber" -->)<!-- </TMPL_IF> --></h1>
				<!-- TMPL_IF name="hbnumber" -->
				<!--<div><p><a href="/cgi-bin/koha/members/houseboundedit.pl?hbnumber=<!-- TMPL_VAR name="hbnumber" -->&borrowernumber=<!-- TMPL_VAR name="borrowernumber" -->">Edit</a> housebound details for this patron.</p></div>-->
				<div><ul class="toolbar"><li><span class="yui-button yui-link-button"><span class="first-child"><a href="/cgi-bin/koha/members/houseboundedit.pl?hbnumber=<!-- TMPL_VAR name="hbnumber" -->&borrowernumber=<!-- TMPL_VAR name="borrowernumber" -->&op=edit">Edit</a></span></span></li></ul></div>
				<div id="houseboundinfo" class="rows">
					<ol>
						<li><span class="label">Delivery day:</span><!-- TMPL_VAR name="day" --></li>
						<li><span class="label">Frequency:</span><!-- TMPL_VAR name="frequency" --></li>
						<li><span class="label">Material:</span><!-- TMPL_VAR name="Itype_quant" --></li>
						<li><span class="label">Subjects:</span><!-- TMPL_VAR name="Item_subject" --></li>
						<li><span class="label">Authors:</span><!-- TMPL_VAR name="Item_authors" --></li>
						<li><span class="label">Referral:</span><!-- TMPL_VAR name="referral" --></li>
						<li><span class="label">Notes:</span><!-- TMPL_VAR name="notes" --></li>
					</ol>
					<br>
					<div style="height:10px;clear:both;"></div><h1>Deliveries</h1>
						<div><ul class="toolbar"><li><span class="yui-button yui-link-button"><span class="first-child"><a href="/cgi-bin/koha/members/houseboundinstances.pl?op=add&hbnumber=<!-- TMPL_VAR name="hbnumber" -->&borrowernumber=<!-- TMPL_VAR name="borrowernumber" -->">Add a new delivery</a></span></span></li></ul></div>
						<table border="0" width="100%" cellpadding="3" cellspacing="0">
						<th><strong>ID</strong></th><th><strong>Date</strong></th><th><strong>Volunteer</strong></th><th><strong>Chooser</strong></th><th><strong>Deliverer</strong></th><th><strong>Actions</strong></th></tr>
						<!-- TMPL_LOOP NAME="instanceloop" -->
							<tr><td><!-- TMPL_VAR name="instanceid" --></td><td><!-- TMPL_VAR name="dmy" --> (<!-- TMPL_VAR name="time" -->)</td><td><a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=<!--TMPL_VAR name="volunteer">"><!-- TMPL_VAR name="vol" --></a></td><td><a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=<!--TMPL_VAR name="chooser">"><!-- TMPL_VAR name="cho" --></a></td><td><a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=<!--TMPL_VAR name="deliverer">"><!-- TMPL_VAR name="del" --></a></td><td align="center"><a href="/cgi-bin/koha/members/houseboundinstances.pl?op=edit&instanceid=<!-- TMPL_VAR name="instanceid" -->&borrowernumber=<!-- TMPL_VAR name="borrowernumber" -->&hbnumber=<!-- TMPL_VAR name="hbnumber"-->">Edit</a> | <a href="/cgi-bin/koha/members/houseboundinstances.pl?op=del&instanceid=<!-- TMPL_VAR name="instanceid" -->&borrowernumber=<!-- TMPL_VAR name="borrowernumber" -->&hbnumber=<!-- TMPL_VAR name="hbnumber"-->">Delete</a></td></tr>
						<!-- /TMPL_LOOP -->
						</table>
				</div>
				<!--<div><br><p><a href="/cgi-bin/koha/members/housebound.pl?op=edit&hbnumber=<!-- TMPL_VAR name="hbnumber" -->&borrowernumber=<!-- TMPL_VAR name="borrowernumber" -->">Edit</a> housebound details for this patron.</p></div>-->
				
				<!-- TMPL_ELSE -->
				<p>This patron does not currently have registered housebound details. To add these details <a href="/cgi-bin/koha/members/houseboundedit.pl?hnbnumber=<!-- TMPL_VAR name="hbnumber" -->&borrowernumber=<!-- TMPL_VAR name="borrowernumber" -->&op=add">click here</a>.</p>
				<!-- /TMPL_IF -->
			</div>
		</div>
		<div class="yui-b">
			<!-- TMPL_INCLUDE NAME="circ-menu.inc" -->
		</div>
	</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->